# Archivos Python cache
__pycache__/

# Módulos de node
node_modules/

# Archivos temporales de editor 
*.py~
*.js~
index.html~

# Archivos binarios grandes
static/Falling-Confetti.gif

# Dependencias generadas 
package-lock.json
pnpm-lock.yaml

# Logs y datos
*.log
*.sqlite

# Archivos de configuración local
.env
